.left{
    float: left;
}
.right{
    float: right;
}
a{
    text-decoration: none;
}
.clear:after{
    content: "";
    display: block;
    clear: both;
}


.body_1{
    width: 990px;
    height: 2700px;
    border: 1px none;
    margin: 0px auto;
}
.a1{
    height: 40px;
    line-height: 40px;
    font-size: 10px;
    border: 1px none;
    background-color: #E4E4E4;
}
.aa_2 span{
    margin-left: 10px;
}
.iconItem{
    position: relative;
    top: 3px;
}
.bb{
    width: 1153px;
    margin: 40px auto;
}
.bb_1{
    margin-left: 100px;
    margin-top: 10px;
}
.inputItem{
    width: 400px;
    height: 40px;
    line-height: 30px;
    border: 2px solid #FF0000;
    padding-left: 15px;
}
.submitBtn{
    width: 80px;
    height: 44px;
    background-color: red;
    border: none;
    border-radius: 3px;
    margin-left: -5px;
    margin-top: 3px;
    position: relative;
    top: 1px;
}
.bb_2{
    margin-left: 150px;
}
.bb2_2_1{
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #e1e1e1;
    background-color: #fcfcfc;
    margin-top: 13px;
}
.cc{
    width: 990px;
    height: 40px;
    margin: 20px auto;
    border-bottom: 2px solid #FF0000;
    margin-bottom: 0px;
}
.cc_1{
    width: 25%;
    height: 40px;
    line-height: 40px;
    color: #FFFFFF;
    font-size: 18px;
    background-color: #FF0000;
    text-align: center;

}
.cc_2{
    width: 60%;
    height: 100%;
}
.cc_2 a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    font-weight: bold;
}
.cc_2 a:nth-of-type(1),.cc_2 a:nth-of-type(2){
    color: #FF0000;
}

.body_1{
    width: 990px;
    height: 2500px;
    border: 1px none;
    margin: 0px auto;
}
ul li{
    list-style: none;
}
.u1 li{
    list-style: none;
    display: inline-block;
    padding-left:10px;
    font-size: 10px;
    position: relative;
    top: 0px;
    left: 250px;
}
.u2{
    padding: 0px;
}
.u2 li{
    list-style: none;
    display: inline-block;
    padding-left:20px;
}
.u2 li:nth-of-type(1){
    background-color: red;
    color: white;
    padding: 5px 2px 0px 50px;
}
.u2 li:nth-of-type(2){
    color: red;
}
.u2 li:nth-of-type(3){
    color: red;
}
.a2{
    width: 990px;
    height: 250px;
    border: 1px none;

}
.sp1{
    padding: 5px;
    display: inline-block;
    width: 110px;
    height: 20px;
    border: 1px red dashed;

}
a{
    color: red;

}
.a21{
    width: 990px;
    height: 200px;
    border: 1px  solid;

}
.a21 p{
    font-size: 12px;
    padding-left:10px ;
}
.a21 span{
    font-size: 12px;
    padding-left:20px;
    padding-right:40px ;
}
.a3{
    width: 990px;
    height: 40px;
    border: 1px none;
}
.a31{
    width: 200px;
    height: 30px;
    border: 1px solid;
    display: inline-block;
}
.sp2{
    padding-left:15px ;
    color: #FF4F02;
    background: url("../images/h_t.gif") 5px 5px  no-repeat;
}
.sp3{
    float: right;
    margin-right: 10px; //外边距
}
.a32{
    width: 80px;
    height: 20px;
    border: 1px solid;
    display: inline-block;
    margin: 0px;
}
.sp4,.sp5{
    padding-left: 10px;

}
.a3 div:nth-of-type(2){
    background-color: orange;
    color: white;
}
.a4{
    width: 990px;
    height: 1500px;
    border: 1px none;
}
.a41{
    width: 180px;
    height: 250px;
    border: 1px solid;
}
.a41 p{
    color: red;
}
.a42{
    width: 180px;
    height: 1020px;
    border: 1px none;
    float: left;

}
.a43{
    width: 800px;
    height: 1400px;
    border: 1px none;
    float: left;

}
.d1{
    width: 190px;
    height: 260px;
    border: 1px solid;
}
.d1 p{
    margin: 0px;
    color:#FF4F02;
}
.sp6{
    margin: 0px;
    font-size: 12px;

}
.d11{
    width: 70px;
    height: 20px;
    border: 1px solid;
    font-size: 10px;
    display: inline-block;
    background: url("../images/heart.png") 2px 5px no-repeat;
    padding-top: 5px;
}
.d12{
    width: 100px;
    height: 20px;
    border: 1px solid;
    font-size: 10px;
    display: inline-block;
    background: url("../images/cars.png") no-repeat;
    padding-top: 5px;
}
.dc1{
    width: 50px;
    height: 20px;
    border: 1px solid;
    display: inline-block;
}
.dc2{
    width: 20px;
    height: 20px;
    border: 1px solid;
    display: inline-block;
}
.dc3{
    width: 20px;
    height: 20px;
    border: 1px none;
    display: inline-block;
}
.a44 div:nth-of-type(2){
    background-color: orange;

}
.a44{
    float: right;
    margin-top: 20px;

}
.a5{
    width: 990px;
    height: 190px;
    border: 1px none;

}
.a51{
    width: 200px;
    height: 150px;
    border: 1px none;
    display: inline-block;
}
.a6 ul{
    float: left;
}
.a6 p{
    font-size: 10px;

}